{% extends 'base.html.twig' %}

{% block title %}Welcome to the Sblog{% endblock %}

{% block body %}
    {% for post in posts %}
    <div class="card border-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">{{post.author.email}}</div>
        <div class="card-body">
            <h4 class="card-title">{{post.title}}</h4>
            <p class="card-text">{{post.content |u.truncate(150,'...', true) }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}
