{% extends 'base.html.twig' %}

{% block title %}Welcome to the Sblog{% endblock %}

{% block body %}
    <div class="container-fluid d-flex flex-wrap justify-content-evenly">
        {% include "post_list.html.twig" %}
    </div>
{% endblock %}
