{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to your admin dashboard</h1>
        <p class="lead">This is a simple yet very useful dashboard that will help you build your project.</p>
        <hr class="my-4">
        <p>Just click on one of the element of the menu and let's start creating !</p>
    </div>
{% endblock %}